@page
@model WorkoutTracker.Pages.ArchiveModel
@{
    @using WorkoutTracker.Model

    @* Archive Page *@

    <div class="container">
        <div class="filter-section mt-3">
            <div method="post"></div>
            <div class="row">
                <div class="col-3 text-center align-middle" style="color: white">
                    Filter By:
                    <select data-val="true" id="Filter" name="Filter">
                        <option selected="selected" value="0">Date</option>
                        <option value="1">Weight</option>
                        <option value="2">Sleep Duration</option>
                        <option value="3">Calories Eaten</option>
                        <option value="4">Start Time</option>
                        <option value="5">End Time</option>
                        <option value="6">Rating</option>
                        <option value="7">Duration</option>
                        <option value="8">Average Heart Rate</option>
                        <option value="9">Indoor/Outdoor</option>
                        <option value="10">Weather Type</option>
                        <option value="11">Location</option>
                    </select>
                </div>
                <div class="col text-left align-middle">
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </div>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Sleep Duration</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Avg Heart Rate</th>
                    <th scope="col">Indoor(0)/Outdoor(1)</th>
                    <th scope="col">Weather</th>
                </tr>
            </thead>         
            <tbody>

                @foreach (AllWorkouts workout in @Model.workouts)
                {
                    <tr>
                        <td>@workout.Date</td>
                        <td>@workout.Name</td>
                        <td>@Math.Round(workout.Weight, 2)</td>
                        <td>@Math.Round(workout.SleepDuration, 2)</td>
                        <td>@Math.Round(workout.Calories, 2)</td>
                        <td>@workout.StartTime</td>
                        <td>@workout.EndTime</td>
                        <td>@Math.Round(workout.Rating, 2)</td>
                        <td>@Math.Round(workout.Duration, 2)</td>
                        <td>@Math.Round(workout.AvgHeartRate, 2)</td>
                        <td>@workout.IsIndoor</td>
                        <td>@workout.Type</td>
                    </tr>

                }
            </tbody>    
        </table>
    </div>

  

}

