@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using WorkoutTracker.Models
@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


@* Index Page *@

<div class="page">
    <div class="container">
        <div class="top-section mt-3">
            <div class="row" id="topSectionContainer">
                <div class="col-sm">
                    <h1>Trends</h1>
                </div>
                <div class="col-sm text-right">
                    <a href="./AddWorkout" role="button" class="btn btn-primary">Add Workout</a>
                </div>
            </div>
        </div>
        <div class="graphs">
            <div class="row">
                <div class="col-sm" id="chart1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm" id="chart2"></div>
                <br />
                <div class="col-sm" id="chart3"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm" id="chart4"></div>
                <br />
                <div class="col-sm" id="chart5"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm" id="chart6"></div>
                <br />
                <div class="col-sm" id="chart7"></div>
            </div>
        </div>
    </div>
</div>
}
<br />

<!--Chart 1-->
<script>
    var topHeartRates = [];
    var dates = new Array();
    @foreach(TopHeartRates workout in Model.topHeartRates)
    {
        <text>
                topHeartRates.push(@Math.Round(workout.AvgHeartRate, 2))
                dates.push("@workout.Date")
        </text>
    }


    Highcharts.chart('chart1', {

        chart: {
            borderRadius: 20,
            type: "column",
            style: {
                'font-family': 'Roboto'
            }
        },

        title: {
            text: 'Top 5 highest heart rate workouts'
        },

        yAxis: {
            title: {
                text: 'BPM'
            }
        },

        xAxis: {
            Title: {
                text: 'Date'
            },
            type: "category",
            categories: dates
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [{
            name: "Heart Rate",
            data: topHeartRates,
            color: "#E07B1D"
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>

<!--Chart 2-->
<script>

    var sunnyRatings = [];
    var dates = new Array();

    @foreach(RatingByWeather workout in Model.ratingsByWeather)
    {
        if (workout.WeatherType == "Sunny")
        {
        <text>
            sunnyRatings.push(@Math.Round(workout.Rating, 2))
        </text>
        }

        <text>
            dates.push("@workout.Date")
        </text>
    }

    Highcharts.chart('chart2', {

        chart: {
            borderRadius: 20,
            style: {
                'font-family': 'Roboto'
            }
        },

        title: {
            text: 'How weather affects your workout '
        },

        subtitle: {
            text: 'Ordered by date'
        },

        yAxis: {
            title: {
                text: 'Rating'
            }
        },

        xAxis: {
            Title: {
                text: 'Date'
            },
         type: "category",
         categories: dates,
            accessibility: {
                rangeDescription: 'Dates'
            }
        },

        plotOptions: {
            series: dates
        },


        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [
            {
            name: 'Sunny',
            data: sunnyRatings,
            color: "#E07B1D"
            }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });

</script>

<!--Chart 3-->
<script>

    var rainyRatings = [];
    var dates = new Array();
    @foreach(RatingByWeather workout in Model.ratingsByWeather)
    {
        if (workout.WeatherType == "Rainy")
        {
        <text>
            rainyRatings.push(@Math.Round(workout.Rating, 2))
        </text>
        }

        <text>
            dates.push("@workout.Date")
        </text>
    }

    Highcharts.chart('chart3', {

        chart: {
            borderRadius: 20,
            style: {
                'font-family': 'Roboto'
            }
        },

        title: {
            text: 'How weather affects your workout '
        },

        subtitle: {
            text: 'Ordered by date'
        },

        yAxis: {
            title: {
                text: 'Rating'
            }
        },

        xAxis: {
            Title: {
                text: 'Date'
            },
         type: "category",
         categories: dates,
            accessibility: {
                rangeDescription: 'Dates'
            }
        },

        plotOptions: {
            series: dates
        },


        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [{
            name: 'Rainy',
            data: rainyRatings,
            color: "#E07B1D"
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });

</script>

<!--Chart 4-->
<script>

    var calories = [];
    var dates = new Array();
    @foreach(SleepDurationCaloriesByRating workout in Model.sleepDurationCaloriesByRating)
    {
        <text>
            calories.push(@Math.Round(workout.Calories, 2))
        </text>


        <text>
            dates.push("@workout.Date")
        </text>
    }

    Highcharts.chart('chart4', {

        chart: {
            borderRadius: 20,
            style: {
                'font-family': 'Roboto'
            }
        },

        title: {
            text: 'Calories when you rated the workout above an 8'
        },

        subtitle: {
            text: 'Ordered by date'
        },

        yAxis: {
            title: {
                text: 'Calories'
            }
        },

        xAxis: {
            Title: {
                text: 'Date'
            },
            type: "category",
            categories: dates,
            accessibility: {
                rangeDescription: 'Dates'
            }
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [{
            name: 'Calories',
            data: calories,
            color: "#E07B1D"
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>

<!--Chart 5-->
<script>

    var sleepDuration = [];
    var dates = new Array();
    @foreach(SleepDurationCaloriesByRating workout in Model.sleepDurationCaloriesByRating)
    {
        <text>
            sleepDuration.push(@Math.Round(workout.SleepDuration, 2))
        </text>


        <text>
            dates.push("@workout.Date")
        </text>
    }

    Highcharts.chart('chart5', {
        chart: {
            borderRadius: 20,
            style: {
                'font-family': 'Roboto'
            }
        },

        title: {
            text: 'Sleep duration when you rated the workout above an 8'
        },

        subtitle: {
            text: 'Ordered by date'
        },

        yAxis: {
            title: {
                text: 'Sleep Duration'
            }
        },

        xAxis: {
            Title: {
                text: 'Date'
            },
            type: "category",
            categories: dates,
            accessibility: {
                rangeDescription: 'Dates'
            }
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [{
            name: 'Sleep Duration',
            data: sleepDuration,
            color: "#E07B1D"
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>

<!--Chart 6-->
<script>

    var heartRate = [];
    @foreach(HeartRateAndDurationLessThan6Hours workout in Model.heartRateAndDurationLessThan6Hours)
    {
        <text>
            heartRate.push(@Math.Round(workout.AvgHeartRate, 2))
        </text>
    }

    Highcharts.chart('chart6', {
        chart: {
            borderRadius: 20,
            style: {
                'font-family': 'Roboto'
            },
            type: 'column'
        },

        title: {
            text: 'Average heart rate for an indoor workout with less than 6 hours of sleep'
        },

        yAxis: {
            title: {
                text: 'BPM'
            }
        },

        xAxis: {
            Title: {
                text: 'Date'
            },
            type: "category",
            categories: ['All Workouts']
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [{
            name: 'Average Heart Rate',
            data: heartRate,
            color: "#E07B1D"
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>

<!--Chart 7-->
<script>

    var duration = [];
    @foreach(HeartRateAndDurationLessThan6Hours workout in Model.heartRateAndDurationLessThan6Hours)
    {
        <text>
            duration.push(@Math.Round(workout.Duration, 2))
        </text>
    }

    Highcharts.chart('chart7', {
        chart: {
            borderRadius: 20,
            style: {
                'font-family': 'Roboto'
            },
            type: 'column'
        },

        title: {
            text: 'Average duration for an indoor workout with less than 6 hours of sleep'
        },

        yAxis: {
            title: {
                text: 'Hours'
            }
        },

        xAxis: {
            Title: {
                text: 'Date'
            },
            type: "category",
            categories: ['All Workouts']
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [{
            name: 'Average Workout Duration',
            data: duration,
            color: "#E07B1D"
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>